@font-face {
    font-family: 'Dynalight';
    font-style: normal;
    font-weight: 400;
    src: local('Dynalight'), local('Dynalight-Regular'), url(../font/gfonts/dynalight-regular.woff) format('woff');
}
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 100;
    src: local('Josefin Sans Thin'), local('JosefinSans-Thin'), url(../font/gfonts/josefinsans-thin.woff) format('woff');
}
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Josefin Sans Light'), local('JosefinSans-Light'), url(../font/gfonts/josefinsans-light.woff) format('woff');
}
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Josefin Sans'), local('JosefinSans'), url(../font/gfonts/josefinsans.woff) format('woff');
}
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Josefin Sans SemiBold'), local('JosefinSans-SemiBold'), url(../font/gfonts/josefinsans-semibold.woff) format('woff');
}
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Josefin Sans Bold'), local('JosefinSans-Bold'), url(../font/gfonts/josefinsans-bold.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(../font/gfonts/opensans-light.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(../font/gfonts/opensans.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../font/gfonts/opensans-semibold.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../font/gfonts/opensans-bold.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(../font/gfonts/opensans-extrabold.woff) format('woff');
}