.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace.pace-inactive .pace-progress {
    display: none;
}

.pace .pace-progress {
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 0;
    height: 10rem;
    width: 10rem;
}

.pace .pace-progress:after {
    display: block;
    position: absolute;
    top: 0;
    right: .5rem;
    content: attr(data-progress-text);
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-size: 10rem;
    line-height: 1;
    text-align: right;
    color: rgb(255, 98, 0);
}

/* HACKED CORNER INDICATOR */
/*.pace {*/
    /*-webkit-pointer-events: none;*/
    /*pointer-events: none;*/
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*user-select: none;*/
/*}*/

/*.pace .pace-activity {*/
    /*display: block;*/
    /*position: fixed;*/
    /*z-index: 2000;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background: #734BA9;*/
    /*-webkit-transition: -webkit-transform 0.3s;*/
    /*transition: transform 0.3s;*/
    /*pointer-events: none;*/
/*}*/

/*.pace.pace-active .pace-activity {*/

/*}*/

/*.pace .pace-activity::before,*/
/*.pace .pace-activity::after {*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*display: block;*/
    /*border: 13px solid #fff;*/
    /*border-radius: 50%;*/
    /*content: '';*/
/*}*/

/*.pace .pace-activity::before {*/
    /*width: 360px;*/
    /*height: 360px;*/
    /*border-right-color: rgba(0, 0, 0, .2);*/
    /*border-left-color: rgba(0, 0, 0, .2);*/
    /*-webkit-animation: pace-rotation 3s linear infinite;*/
    /*animation: pace-rotation 3s linear infinite;*/

/*}*/




/*.pace .pace-activity::after {*/
    /*bottom: 0px;*/
    /*top: 34%;*/
    /*margin-left: 68px;*/
    /*width: 220px;*/
    /*height: 220px;*/
    /*border-top-color: rgba(0, 0, 0, .2);*/
    /*border-bottom-color: rgba(0, 0, 0, .2);*/
    /*-webkit-animation: pace-rotation 1s linear infinite;*/
    /*animation: pace-rotation 1s linear infinite;*/
/*}*/

/*@-webkit-keyframes pace-rotation {*/
    /*0% {*/
        /*-webkit-transform: rotate(0deg);*/
    /*}*/
    /*100% {*/
        /*-webkit-transform: rotate(359deg);*/
    /*}*/
/*}*/

/*@keyframes pace-rotation {*/
    /*0% {*/
        /*transform: rotate(0deg);*/
    /*}*/
    /*100% {*/
        /*transform: rotate(359deg);*/
    /*}*/
/*}*/